[run]
relative_files = True
source =
    app/application
    app/domain
omit =
    .venv/*
    tests/*
    logs/*
    scripts/*
    migrations/*
    app/ui/*
    app/entrypoints/*
    **/site-packages/*
